body, h1,p{
  margin: 0;
  padding: 0;
}

.conteiner{
  background-color: black;
  width: 100vw;
  height: 100vh;
}

h1{
  color: greenyellow;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px;
}

.botoes{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

input{
  background-color: rgb(245, 243, 229);
  width: 160px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border-style:hidden 
}

button{
  background-color:darkgray;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px ;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.botaofinal{
  color: greenyellow;
  margin-top: 60px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#result{
  color: greenyellow;
  background-color: grey;
  padding: 20px;
  margin-top: 0;
  border-radius: 10px;
  width: 100px;
  height: 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



